<ion-view title="Login">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div style="text-align:center;">
      <img src="img/2ZWNXLhSRqGOqBAdvOd1_ic_launcher.png" width="100dp" height="auto">
    </div>
    <form class="list" name="credentialsForm" >
      <label class="item item-input item-stacked-label">
        <span class="input-label">Host</span>
        <input type="url" ng-init="login.host='https://bid.dhis2.org/epireg'" ng-minlength="15" ng-model="login.host" placeholder="https://bid.dhis2.org/epireg" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" ng-init="login.username='nhancv'" ng-minlength="5" ng-model="login.username" placeholder="admin" required>
      </label>
      <ion-list>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" ng-init="login.password='District1'" ng-minlength="6" ng-model="login.password" placeholder="District1" required>
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button1" ng-click="loginClick(credentialsForm)"
              style="font-weight:bold;" class="button button-stable  button-block"
              ng-disabled="credentialsForm.$invalid">Log in</button>
      <a href="#" onclick="window.open('https://play.dhis2.org/', '_blank', 'location=no'); return false;"
         id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
