<ion-view title="Stock In Hand vs Demand">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Demand - Uptill:</span>
                <select>
                    <option>1 day</option>
                    <option>3 day</option>
                    <option>1 week</option>
                    <option>2 weeks</option>
                    <option>2 months</option>
                </select>
            </label>
        </form>
    </ion-content>

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"
</ion-view>
