<div class="card">
  <a class="item" ng-hide='item.eventId=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{attributes.eventId}}: {{item.eventId}}
  </a>
  <a class="item" ng-hide='item.dueDate=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{attributes.dueDate}}: {{item.dueDate}}
  </a>
  <a class="item" ng-hide='item.sB1IHYu2xQT=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{attributes.sB1IHYu2xQT}}: {{item.sB1IHYu2xQT}}
  </a>
  <a class="item" ng-hide='item.wbtl3uN0spv=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{attributes.wbtl3uN0spv}}: {{item.wbtl3uN0spv}}
  </a>
  <a class="item" ng-hide='item.rKtHjgcO2Bn=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{attributes.rKtHjgcO2Bn}}: {{item.rKtHjgcO2Bn}}
  </a>

  <!--data element-->
  <a class="item" ng-hide='item.bpBUOvqy1Jn=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.bpBUOvqy1Jn.name}}: <span ng-bind-html='item.bpBUOvqy1Jn | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.EMcT5j5zR81=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.EMcT5j5zR81.name}}: <span ng-bind-html='item.EMcT5j5zR81 | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.KRF40x6EILp=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.KRF40x6EILp.name}}: <span ng-bind-html='item.KRF40x6EILp | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.no7SkAxepi7=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.no7SkAxepi7.name}}: <span ng-bind-html='item.no7SkAxepi7 | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.CfPM8lsEMzH=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.CfPM8lsEMzH.name}}: <span ng-bind-html='item.CfPM8lsEMzH | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.K3TcJM1ySQA=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.K3TcJM1ySQA.name}}: <span ng-bind-html='item.K3TcJM1ySQA | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.fmXCCPENnwR=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.fmXCCPENnwR.name}}: <span ng-bind-html='item.fmXCCPENnwR | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.nIqQYeSwU9E=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.nIqQYeSwU9E.name}}: <span ng-bind-html='item.nIqQYeSwU9E | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.sDORmAKh32v=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.sDORmAKh32v.name}}: <span ng-bind-html='item.sDORmAKh32v | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.PvHUllrtPiy=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.PvHUllrtPiy.name}}: <span ng-bind-html='item.PvHUllrtPiy | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.wYg2gOWSyJG=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.wYg2gOWSyJG.name}}: <span ng-bind-html='item.wYg2gOWSyJG | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.nQeUfqPjK5o=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.nQeUfqPjK5o.name}}: <span ng-bind-html='item.nQeUfqPjK5o | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.pxCZNoqDVJC=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.pxCZNoqDVJC.name}}: <span ng-bind-html='item.pxCZNoqDVJC | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.B4eJCy6LFLZ=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.B4eJCy6LFLZ.name}}: <span ng-bind-html='item.B4eJCy6LFLZ | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.cNA9EmFaiAa=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.cNA9EmFaiAa.name}}: <span ng-bind-html='item.cNA9EmFaiAa | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.g8dMiUOTFla=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.g8dMiUOTFla.name}}: <span ng-bind-html='item.g8dMiUOTFla | fEventDecoratorFilter'></span>
  </a>
  <a class="item" ng-hide='item.Bxh1xgIY9nA=="-"'>
    <i class="icon ion-ios-circle-outline"></i>
    {{dataElements.Bxh1xgIY9nA.name}}: <span ng-bind-html='item.Bxh1xgIY9nA | fEventDecoratorFilter'></span>
  </a>
</div>
